:root {
    --rojo: #ff4500;
}

* {
    padding: 0;
    box-sizing: border-box    
}

body {
    font-family: 'Lato', sans-serif;
    max-width: 1140px;
    margin: 0 auto;
    background-image: url(/img/bg-2.png);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}